body {
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 11pt;
	font-family: sans-serif;
}

.viz {
	min-height: 100%;
	padding-bottom: 100px;
}

#chart {
	display: inline-block;
}
#sequence { margin: 20px auto 0;}
.hover, path { cursor: pointer; }

.wave-form {
	margin: 20px;
}
.wave-form input { visibility: hidden;}

input[type=radio]:checked + label {
	color: #fff;
	  background-color: #449d44;
	  border-color: #398439;
}

.analytic { text-align: center}
.analytic p, .analytic h3 { text-align: left;}
.analytic img {
	width: 80%;
	margin: 10px auto;
	display: inline-block;
}

/*
path.v108 { fill: #FA8072 !important;}
path.v110 { fill: #c5e872 !important;}
path.v113 { fill: #89B6A5 !important;}
path.v114 { fill: #4C3B4D !important;}
path.v115 { fill: #FFF45F !important;}
path.v121 { fill: #8296B8 !important;}
path.v122 { fill: #FB4D46 !important;}
path.v123 { fill: #6DA368 !important;}
*/